psycopg2-binary
protobuf<4
# synthcity # removed because we are using the revamped version. See scripts/synthcity-patches/README.md
boto3
python-dotenv==1.0.1
ipython==9.9.0
tabpfn-extensions[all] @ git+https://github.com/PriorLabs/tabpfn-extensions.git
tensorflow
desbordante
